<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/city" method="POST">
        <label for="cityn">اسم شهر</label>
        <input type="text" id="cityn" name="city" required>
        <br><br>
        <label for="countryn">کشور</label>
        <input type="text" name="country" id="countryn" required>
        <button type="submit">ارسال</button>
    </form>
</body>

</html>